<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Windows 11 | patite-vue</title>
        <link rel="shortcut icon" href="/favicon.ico">


        <link rel="stylesheet" href="/static/css/mini.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/petite.js"></script>
        <script src="/static/js/axios.min.js"></script>
        <script type="module" src="/static/js/moveable.js"></script>
        <script type="module" src="/static/js/main.js"></script>

    </head>

    <body onload="init()">
        <!-- <div id="main-loading"></div> -->
        <div id="windows11">
            <div id="desktop" @click="os.desktop.toggle" class="p-3" style="background: gray;">
                <button @click="os.taskbar.toggle" class="btn primary">Hide focusedId:
                    {os.activity.focusedId}</button>
                <!-- <div class="directory-pr medium cyan"></div> -->
                <div class="desktop-icon d-flex flex-col p-2" v-for="item in os.desktop.items">
                    <img :src="'/static/'+item.icon" class="icn icn-5x" alt="">
                    <small v-html="item.name"></small>
                </div>
            </div>
            <main id="workspaces" v-if="os.workspace.show">
                <div class="workspace">
                    <div class="application">
                        <h2 class="text-center">title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae quidem voluptas
                            maiores
                            ducimus animi rem dignissimos earum rerum laboriosam.</p>
                        <button @click="os.taskbar.toggle" class="btn primary">Hide focusedId:
                            {os.activity.focusedId}</button>
                    </div>
                    <div class="application">
                        <h2 class="text-center">title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia beatae quidem voluptas
                            maiores
                            ducimus animi rem dignissimos earum rerum laboriosam.</p>
                    </div>

                </div>
            </main>
            <div id="menu-right" :class="{active:os.activity.focusedId==2 || os.activity.focusedId==3}">
                <section id="system-tray" v-if="os.activity.focusedId==2">
                    <div class="container">
                        <div v-for="item in os.layout.menu.systemTray.items" class="system-tray__item"
                            :class="{active: item.active}"
                            @click="{item.name != 'Airplane mode' ? item.active= !item.active : os.toggleAirplane()}">
                            <div>
                                <img :src="'/static/'+item.icon" class="icn icn-lg" :alt="item.name">
                            </div>
                            <div>
                                <small v-html="item.name"></small>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid p-2">
                        <div class="d-flex">
                            <img src="/static/svg/volume-up-solid.svg" class="icn icn-lg" alt="volume">
                            <input type="range" class="sliders" name="volume-slider"
                                v-model="os.media.sound.volume"><b v-html="os.media.sound.volume"> </b>
                            <!-- <b>&gt;</b> -->
                        </div>
                        <div class="d-flex">
                            <img src="/static/svg/sun-solid.svg" class="icn icn-lg" alt="brighness">
                            <input type="range" class="sliders" name="brightness-slider"
                                v-model="os.layout.brighness" id="brightness-slider"><b
                                v-html="os.layout.brighness"></b>
                        </div>
                    </div>
                </section>
                <section id="calender" v-if="os.activity.focusedId==3">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                </section>
            </div>
            <div id="main-menu" class="p-3 d-flex flex-col center-pop"
                :class="{'hide-y': os.activity.focusedId==1}">
                <div id="runner" class="b-primary">
                    <label for="runner__search">🔍️</label>
                    <input type="text" class="fluid b-none" name="search" id="runner__search">
                </div>
                <div class="container">
                    {store.state.count}
                    <button class="win-btn" @click="store.methods.incBy(12)">inc</button>
                </div>
            </div>
            <div id="taskbar" :class="{hide:!os.taskbar.show}">
                <div id="taskbar__appbar" class="center-x">
                    <img @click="os.layout.menu.mainMenu.toggle" src="/static/svg/windows.svg"
                        class="win-btn icn-2x" alt="togglable menu">
                    <span>3</span><span>4</span><span>5</span><span>6</span>
                </div>
                <div id="taskbar__right">
                    <img src="/static/svg/angle-up-solid.svg" class="win-btn icn me-1" alt="togglable menu">
                    <img v-if="os.layout.menu.systemTray.items[0].active" src="/static/svg/wifi-solid.svg"
                        class="win-btn icn icn-lg me-1" alt="wifi">
                    <img v-if="os.layout.menu.systemTray.items[1].active" src="/static/svg/bluetooth-b.svg"
                        class="win-btn icn icn-lg me-1" alt="bluetooth">
                    <img src="/static/svg/battery-half-solid.svg" class="win-btn icn icn-lg me-1" alt="battery">
                    <b @click="os.layout.menu.calender.toggle" class="win-btn"><small class="datetime"></small></b>
                    <b @click="os.layout.menu.systemTray.toggle"><i class="icn icn-ethernet win-btn"></i></b>
                    <!-- <b @click="os.layout.menu.menuRight=0">hide tray</b> -->
                </div>
                <div id="taskbar__show-desktop" class="win-btn" @click="os.showWorkspace= !os.showWorkspace">
                </div>
            </div>
            <div id="brightoverlay" :style="{opacity: 1-os.layout.brighness/100.0}"></div>
        </div>
        <script src="/static/js/helper.js"></script>
    </body>

</html>
